<%- include('../../partials/head.ejs') %>

<div class="dashboarddd-main-sectionn-page-create-profile-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <%- include('../../partials/sidebar.ejs') %>
            </div>
            <div class="col-md-10">
                <div class="nodejs-blog-blog-project-bookmarks-hed-txtt">
                    <h4>My Bookmarks</h4>
                </div>
                <div class="container">
                    <div class="row">
                        <!-- <div class="col-md-6 node-blog-project-all-post-list-main-body"> -->
                            <% if(posts.length == 0) { %>
                            <div class="node-blog-project-all-post-list-empty-post text-center">
                                <h5>Your Bookmarks is Empty</h5>
                            </div>
                            <% } else { %>
                              <% for(let post of posts.reverse()) { %>
                                  <div class="col-md-5 card my-3 node-blog-project-all-post-list-single-post-section">
                                      <% if(post.thumbnail) { %>
                                          <img src="<%= post.thumbnail %>" alt="<% post.title %>" class="card-img-top mt-2">
                                      <%  } %>
                                      <div class="card-body">
                                          <a href="/explorer/<%= post._id%>">
                                              <h5><%= post.title %></h5>
                                          </a>
                                      </div>
                                  </div>
                              <% } %>
                            <% } %>
                        <!-- </div> -->
                      </div>
                  </div>               
            </div>
        </div>
    </div>
    
</div>

<%- include('../../partials/footer.ejs') %>

</body>
</html>